/* Coolors Exported Palette - coolors.co/011936-465362-82a3a1-9fc490-c0dfa1 */


/* RGB */

// $color1: rgba(1, 25, 54, 1);
// $color1-font: #B2B9C2;
// $color2: rgba(70, 83, 98, 1);
// $color2-font: #C7CBD0;
// $color3: rgba(130, 163, 161, 1);
// $color4: rgba(159, 196, 144, 1);
// $color5: rgba(192, 223, 161, 1);
$color1: #1C2132;
$color2: #727E92;
$color3: #9CA0AC;
$color4: #6FDFE7;
$color5: #D3D5D9;
$color6: #98B8CA;
$color7: #98B8CA;
$color8: #6699A7;
$color9: #238C75;